<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <%
      if(name != 'N'){
    %>
      <p><%= name%></p>
      
    <% } %>
    <a href="/login/logout">로그아웃</a>
    <a href="/login/login">로그인</a>
    <a href="/login/JoinForm">회원가입</a>
  </body>
</html>
